In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
df=pd.read_csv(r"C:\Users\aa946\OneDrive\Desktop\DataScience\pandastutorial-main\pandastutorial-main\Datasets\sample.csv")

In [3]:
df.head()

   Roll No.  Physics  Chemistry  Maths  Computer
0         1     56.0       57.0   58.0      59.0
1         2     23.0       24.0   25.0      26.0
2         3     89.0       25.0   26.0      27.0
3         4     45.0       26.0   27.0      28.0
4         5     23.0       27.0   28.0      29.0

In [4]:
df.tail()

    Roll No.  Physics  Chemistry  Maths  Computer
25        26     54.0       33.0   33.0      54.0
26        27     55.0       34.0   34.0      55.0
27        28     56.0       35.0   35.0       NaN
28        29     57.0       36.0   36.0      66.0
29        30     58.0       37.0   37.0      43.0

In [5]:
df['Physics'].head(4)

0    56.0
1    23.0
2    89.0
3    45.0
Name: Physics, dtype: float64

In [6]:
df.loc[2:3]

   Roll No.  Physics  Chemistry  Maths  Computer
2         3     89.0       25.0   26.0      27.0
3         4     45.0       26.0   27.0      28.0

In [7]:
df.iloc[1:4]

   Roll No.  Physics  Chemistry  Maths  Computer
1         2     23.0       24.0   25.0      26.0
2         3     89.0       25.0   26.0      27.0
3         4     45.0       26.0   27.0      28.0

In [8]:
df[df['Physics']>50]

    Roll No.  Physics  Chemistry  Maths  Computer
0          1     56.0       57.0   58.0      59.0
2          3     89.0       25.0   26.0      27.0
5          6     90.0        NaN   29.0      30.0
7          8     78.0       14.0   15.0      16.0
11        12     88.0        NaN   19.0      20.0
13        14     90.0        NaN    NaN      42.0
22        23     51.0       51.0   51.0      51.0
23        24     52.0       52.0   52.0      52.0
24        25     53.0        NaN    NaN      53.0
25        26     54.0       33.0   33.0      54.0
26        27     55.0       34.0   34.0      55.0
27        28     56.0       35.0   35.0       NaN
28        29     57.0       36.0   36.0      66.0
29        30     58.0       37.0   37.0      43.0

In [9]:
df['Class'] = np.random.choice(['A', 'B','c'], size=len(df))
df

    Roll No.  Physics  Chemistry  Maths  Computer Class
0          1     56.0       57.0   58.0      59.0     c
1          2     23.0       24.0   25.0      26.0     B
2          3     89.0       25.0   26.0      27.0     B
3          4     45.0       26.0   27.0      28.0     A
4          5     23.0       27.0   28.0      29.0     c
5          6     90.0        NaN   29.0      30.0     c
6          7     12.0       13.0   14.0      15.0     c
7          8     78.0       14.0   15.0      16.0     A
8          9      NaN       15.0   16.0      17.0     A
9         10     45.0       16.0   17.0      18.0     c
10        11      NaN       17.0   18.0      19.0     A
11        12     88.0        NaN   19.0      20.0     B
12        13     22.0       23.0   24.0      25.0     B
13        14     90.0        NaN    NaN      42.0     B
14        15      NaN       43.0   43.0      43.0     A
15        16     44.0       44.0   44.0      44.0     c
16        17     45.0       45.0   45.0      45.0     B
17        18     46.0       46.0   46.0      46.0     A
18        19     47.0       47.0   47.0      47.0     c
19        20     48.0       48.0   48.0      48.0     B
20        21     49.0       49.0   49.0      49.0     c
21        22     50.0       50.0   50.0      50.0     B
22        23     51.0       51.0   51.0      51.0     c
23        24     52.0       52.0   52.0      52.0     B
24        25     53.0        NaN    NaN      53.0     A
25        26     54.0       33.0   33.0      54.0     c
26        27     55.0       34.0   34.0      55.0     c
27        28     56.0       35.0   35.0       NaN     B
28        29     57.0       36.0   36.0      66.0     c
29        30     58.0       37.0   37.0      43.0     c

In [10]:
filterre=df.groupby(['Class']).mean()
filterre

        Roll No.    Physics  Chemistry      Maths   Computer
Class
A      12.857143  55.500000  26.833333  27.500000  31.714286
B      15.500000  56.300000  37.750000  36.000000  37.222222
c      16.923077  49.307692  37.000000  36.692308  43.076923

In [11]:
df

    Roll No.  Physics  Chemistry  Maths  Computer Class
0          1     56.0       57.0   58.0      59.0     c
1          2     23.0       24.0   25.0      26.0     B
2          3     89.0       25.0   26.0      27.0     B
3          4     45.0       26.0   27.0      28.0     A
4          5     23.0       27.0   28.0      29.0     c
5          6     90.0        NaN   29.0      30.0     c
6          7     12.0       13.0   14.0      15.0     c
7          8     78.0       14.0   15.0      16.0     A
8          9      NaN       15.0   16.0      17.0     A
9         10     45.0       16.0   17.0      18.0     c
10        11      NaN       17.0   18.0      19.0     A
11        12     88.0        NaN   19.0      20.0     B
12        13     22.0       23.0   24.0      25.0     B
13        14     90.0        NaN    NaN      42.0     B
14        15      NaN       43.0   43.0      43.0     A
15        16     44.0       44.0   44.0      44.0     c
16        17     45.0       45.0   45.0      45.0     B
17        18     46.0       46.0   46.0      46.0     A
18        19     47.0       47.0   47.0      47.0     c
19        20     48.0       48.0   48.0      48.0     B
20        21     49.0       49.0   49.0      49.0     c
21        22     50.0       50.0   50.0      50.0     B
22        23     51.0       51.0   51.0      51.0     c
23        24     52.0       52.0   52.0      52.0     B
24        25     53.0        NaN    NaN      53.0     A
25        26     54.0       33.0   33.0      54.0     c
26        27     55.0       34.0   34.0      55.0     c
27        28     56.0       35.0   35.0       NaN     B
28        29     57.0       36.0   36.0      66.0     c
29        30     58.0       37.0   37.0      43.0     c

In [12]:
grouped_df = df.groupby(['Class', 'Roll No.']).sum()
grouped_df

                Physics  Chemistry  Maths  Computer
Class Roll No.
A     4            45.0       26.0   27.0      28.0
      8            78.0       14.0   15.0      16.0
      9             0.0       15.0   16.0      17.0
      11            0.0       17.0   18.0      19.0
      15            0.0       43.0   43.0      43.0
      18           46.0       46.0   46.0      46.0
      25           53.0        0.0    0.0      53.0
B     2            23.0       24.0   25.0      26.0
      3            89.0       25.0   26.0      27.0
      12           88.0        0.0   19.0      20.0
      13           22.0       23.0   24.0      25.0
      14           90.0        0.0    0.0      42.0
      17           45.0       45.0   45.0      45.0
      20           48.0       48.0   48.0      48.0
      22           50.0       50.0   50.0      50.0
      24           52.0       52.0   52.0      52.0
      28           56.0       35.0   35.0       0.0
c     1            56.0       57.0   58.0      59.0
      5            23.0       27.0   28.0      29.0
      6            90.0        0.0   29.0      30.0
      7            12.0       13.0   14.0      15.0
      10           45.0       16.0   17.0      18.0
      16           44.0       44.0   44.0      44.0
      19           47.0       47.0   47.0      47.0
      21           49.0       49.0   49.0      49.0
      23           51.0       51.0   51.0      51.0
      26           54.0       33.0   33.0      54.0
      27           55.0       34.0   34.0      55.0
      29           57.0       36.0   36.0      66.0
      30           58.0       37.0   37.0      43.0

In [13]:
grouped_df = df.groupby('Class').agg({
    'Physics': ['mean', 'sum'],
})

print("Grouped DataFrame with multiple aggregation functions:")
print(grouped_df)

Grouped DataFrame with multiple aggregation functions:
         Physics
            mean    sum
Class
A      55.500000  222.0
B      56.300000  563.0
c      49.307692  641.0

In [14]:
df.groupby('Class').size()

Class
A     7
B    10
c    13
dtype: int64

In [15]:
condition1=df['Physics']>50
condition2=df['Maths']>50
condition3=df['Class']=='A'
final_condition=condition1 & condition2 | condition3
temp_df=df[final_condition]
temp_df

    Roll No.  Physics  Chemistry  Maths  Computer Class
0          1     56.0       57.0   58.0      59.0     c
3          4     45.0       26.0   27.0      28.0     A
7          8     78.0       14.0   15.0      16.0     A
8          9      NaN       15.0   16.0      17.0     A
10        11      NaN       17.0   18.0      19.0     A
14        15      NaN       43.0   43.0      43.0     A
17        18     46.0       46.0   46.0      46.0     A
22        23     51.0       51.0   51.0      51.0     c
23        24     52.0       52.0   52.0      52.0     B
24        25     53.0        NaN    NaN      53.0     A

In [16]:
Query=df.query('(Physics>50 and Maths>50)')
print(Query)

    Roll No.  Physics  Chemistry  Maths  Computer Class
0          1     56.0       57.0   58.0      59.0     c
22        23     51.0       51.0   51.0      51.0     c
23        24     52.0       52.0   52.0      52.0     B

In [17]:
filter_classes=['A','c']
final_df=df[df['Class'].isin(filter_classes)]
final_df

    Roll No.  Physics  Chemistry  Maths  Computer Class
0          1     56.0       57.0   58.0      59.0     c
3          4     45.0       26.0   27.0      28.0     A
4          5     23.0       27.0   28.0      29.0     c
5          6     90.0        NaN   29.0      30.0     c
6          7     12.0       13.0   14.0      15.0     c
7          8     78.0       14.0   15.0      16.0     A
8          9      NaN       15.0   16.0      17.0     A
9         10     45.0       16.0   17.0      18.0     c
10        11      NaN       17.0   18.0      19.0     A
14        15      NaN       43.0   43.0      43.0     A
15        16     44.0       44.0   44.0      44.0     c
17        18     46.0       46.0   46.0      46.0     A
18        19     47.0       47.0   47.0      47.0     c
20        21     49.0       49.0   49.0      49.0     c
22        23     51.0       51.0   51.0      51.0     c
24        25     53.0        NaN    NaN      53.0     A
25        26     54.0       33.0   33.0      54.0     c
26        27     55.0       34.0   34.0      55.0     c
28        29     57.0       36.0   36.0      66.0     c
29        30     58.0       37.0   37.0      43.0     c

In [18]:
df.rename(columns={'Roll No.':'ID'}, inplace=True)
df

    ID  Physics  Chemistry  Maths  Computer Class
0    1     56.0       57.0   58.0      59.0     c
1    2     23.0       24.0   25.0      26.0     B
2    3     89.0       25.0   26.0      27.0     B
3    4     45.0       26.0   27.0      28.0     A
4    5     23.0       27.0   28.0      29.0     c
5    6     90.0        NaN   29.0      30.0     c
6    7     12.0       13.0   14.0      15.0     c
7    8     78.0       14.0   15.0      16.0     A
8    9      NaN       15.0   16.0      17.0     A
9   10     45.0       16.0   17.0      18.0     c
10  11      NaN       17.0   18.0      19.0     A
11  12     88.0        NaN   19.0      20.0     B
12  13     22.0       23.0   24.0      25.0     B
13  14     90.0        NaN    NaN      42.0     B
14  15      NaN       43.0   43.0      43.0     A
15  16     44.0       44.0   44.0      44.0     c
16  17     45.0       45.0   45.0      45.0     B
17  18     46.0       46.0   46.0      46.0     A
18  19     47.0       47.0   47.0      47.0     c
19  20     48.0       48.0   48.0      48.0     B
20  21     49.0       49.0   49.0      49.0     c
21  22     50.0       50.0   50.0      50.0     B
22  23     51.0       51.0   51.0      51.0     c
23  24     52.0       52.0   52.0      52.0     B
24  25     53.0        NaN    NaN      53.0     A
25  26     54.0       33.0   33.0      54.0     c
26  27     55.0       34.0   34.0      55.0     c
27  28     56.0       35.0   35.0       NaN     B
28  29     57.0       36.0   36.0      66.0     c
29  30     58.0       37.0   37.0      43.0     c

In [19]:
df.describe()

              ID    Physics  Chemistry     Maths   Computer
count  30.000000  27.000000  26.000000  28.00000  29.000000
mean   15.500000  52.814815  34.884615  34.50000  38.517241
std     8.803408  20.382944  13.650866  13.19231  14.917920
min     1.000000  12.000000  13.000000  14.00000  15.000000
25%     8.250000  45.000000  24.250000  24.75000  26.000000
50%    15.500000  51.000000  35.500000  34.50000  43.000000
75%    22.750000  56.500000  46.750000  46.25000  50.000000
max    30.000000  90.000000  57.000000  58.00000  66.000000

In [20]:
df.isnull().sum()

ID           0
Physics      3
Chemistry    4
Maths        2
Computer     1
Class        0
dtype: int64

In [21]:
df.dropna(how='any',axis=1)

    ID Class
0    1     c
1    2     B
2    3     B
3    4     A
4    5     c
5    6     c
6    7     c
7    8     A
8    9     A
9   10     c
10  11     A
11  12     B
12  13     B
13  14     B
14  15     A
15  16     c
16  17     B
17  18     A
18  19     c
19  20     B
20  21     c
21  22     B
22  23     c
23  24     B
24  25     A
25  26     c
26  27     c
27  28     B
28  29     c
29  30     c

In [22]:
temp=df.fillna(33)
temp.head(10)

   ID  Physics  Chemistry  Maths  Computer Class
0   1     56.0       57.0   58.0      59.0     c
1   2     23.0       24.0   25.0      26.0     B
2   3     89.0       25.0   26.0      27.0     B
3   4     45.0       26.0   27.0      28.0     A
4   5     23.0       27.0   28.0      29.0     c
5   6     90.0       33.0   29.0      30.0     c
6   7     12.0       13.0   14.0      15.0     c
7   8     78.0       14.0   15.0      16.0     A
8   9     33.0       15.0   16.0      17.0     A
9  10     45.0       16.0   17.0      18.0     c

In [23]:
df.ffill(inplace=True)

In [24]:
temp=df.bfill()
temp.head(10)

   ID  Physics  Chemistry  Maths  Computer Class
0   1     56.0       57.0   58.0      59.0     c
1   2     23.0       24.0   25.0      26.0     B
2   3     89.0       25.0   26.0      27.0     B
3   4     45.0       26.0   27.0      28.0     A
4   5     23.0       27.0   28.0      29.0     c
5   6     90.0       27.0   29.0      30.0     c
6   7     12.0       13.0   14.0      15.0     c
7   8     78.0       14.0   15.0      16.0     A
8   9     78.0       15.0   16.0      17.0     A
9  10     45.0       16.0   17.0      18.0     c

In [25]:
temp=df.interpolate()
temp.head(10)

C:\Users\aa946\AppData\Local\Temp\ipykernel_11072\3797779599.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  temp=df.interpolate()

   ID  Physics  Chemistry  Maths  Computer Class
0   1     56.0       57.0   58.0      59.0     c
1   2     23.0       24.0   25.0      26.0     B
2   3     89.0       25.0   26.0      27.0     B
3   4     45.0       26.0   27.0      28.0     A
4   5     23.0       27.0   28.0      29.0     c
5   6     90.0       27.0   29.0      30.0     c
6   7     12.0       13.0   14.0      15.0     c
7   8     78.0       14.0   15.0      16.0     A
8   9     78.0       15.0   16.0      17.0     A
9  10     45.0       16.0   17.0      18.0     c

In [26]:
print(df.dtypes)
df['Class']=df['Class'].astype(str)
print(df.dtypes)

ID             int64
Physics      float64
Chemistry    float64
Maths        float64
Computer     float64
Class         object
dtype: object
ID             int64
Physics      float64
Chemistry    float64
Maths        float64
Computer     float64
Class         object
dtype: object

In [27]:
def transformationFunc(x):
    if x <= 50 and x >= 30:
        return x * 1.8
    elif x < 30:
        return x * 2.4
    else:
        return x

print(df.columns)
df['Physics'] = df['Physics'].apply(transformationFunc)
print("Updated DataFrame:")
print(df)

Index(['ID', 'Physics', 'Chemistry', 'Maths', 'Computer', 'Class'], dtype='object')
Updated DataFrame:
    ID  Physics  Chemistry  Maths  Computer Class
0    1     56.0       57.0   58.0      59.0     c
1    2     55.2       24.0   25.0      26.0     B
2    3     89.0       25.0   26.0      27.0     B
3    4     81.0       26.0   27.0      28.0     A
4    5     55.2       27.0   28.0      29.0     c
5    6     90.0       27.0   29.0      30.0     c
6    7     28.8       13.0   14.0      15.0     c
7    8     78.0       14.0   15.0      16.0     A
8    9     78.0       15.0   16.0      17.0     A
9   10     81.0       16.0   17.0      18.0     c
10  11     81.0       17.0   18.0      19.0     A
11  12     88.0       17.0   19.0      20.0     B
12  13     52.8       23.0   24.0      25.0     B
13  14     90.0       23.0   24.0      42.0     B
14  15     90.0       43.0   43.0      43.0     A
15  16     79.2       44.0   44.0      44.0     c
16  17     81.0       45.0   45.0      45.0     B
17  18     82.8       46.0   46.0      46.0     A
18  19     84.6       47.0   47.0      47.0     c
19  20     86.4       48.0   48.0      48.0     B
20  21     88.2       49.0   49.0      49.0     c
21  22     90.0       50.0   50.0      50.0     B
22  23     51.0       51.0   51.0      51.0     c
23  24     52.0       52.0   52.0      52.0     B
24  25     53.0       52.0   52.0      53.0     A
25  26     54.0       33.0   33.0      54.0     c
26  27     55.0       34.0   34.0      55.0     c
27  28     56.0       35.0   35.0      55.0     B
28  29     57.0       36.0   36.0      66.0     c
29  30     58.0       37.0   37.0      43.0     c

In [28]:
def min_max_scaling(series):
    return (series - series.min()) / (series.max() - series.min())

# Apply Min-Max scaling to the 'Physics' column
df['Physics_normalized'] = min_max_scaling(df['Physics'])
df

    ID  Physics  Chemistry  Maths  Computer Class  Physics_normalized
0    1     56.0       57.0   58.0      59.0     c            0.444444
1    2     55.2       24.0   25.0      26.0     B            0.431373
2    3     89.0       25.0   26.0      27.0     B            0.983660
3    4     81.0       26.0   27.0      28.0     A            0.852941
4    5     55.2       27.0   28.0      29.0     c            0.431373
5    6     90.0       27.0   29.0      30.0     c            1.000000
6    7     28.8       13.0   14.0      15.0     c            0.000000
7    8     78.0       14.0   15.0      16.0     A            0.803922
8    9     78.0       15.0   16.0      17.0     A            0.803922
9   10     81.0       16.0   17.0      18.0     c            0.852941
10  11     81.0       17.0   18.0      19.0     A            0.852941
11  12     88.0       17.0   19.0      20.0     B            0.967320
12  13     52.8       23.0   24.0      25.0     B            0.392157
13  14     90.0       23.0   24.0      42.0     B            1.000000
14  15     90.0       43.0   43.0      43.0     A            1.000000
15  16     79.2       44.0   44.0      44.0     c            0.823529
16  17     81.0       45.0   45.0      45.0     B            0.852941
17  18     82.8       46.0   46.0      46.0     A            0.882353
18  19     84.6       47.0   47.0      47.0     c            0.911765
19  20     86.4       48.0   48.0      48.0     B            0.941176
20  21     88.2       49.0   49.0      49.0     c            0.970588
21  22     90.0       50.0   50.0      50.0     B            1.000000
22  23     51.0       51.0   51.0      51.0     c            0.362745
23  24     52.0       52.0   52.0      52.0     B            0.379085
24  25     53.0       52.0   52.0      53.0     A            0.395425
25  26     54.0       33.0   33.0      54.0     c            0.411765
26  27     55.0       34.0   34.0      55.0     c            0.428105
27  28     56.0       35.0   35.0      55.0     B            0.444444
28  29     57.0       36.0   36.0      66.0     c            0.460784
29  30     58.0       37.0   37.0      43.0     c            0.477124

In [29]:
mean=df['Physics'].mean()
std=df['Physics'].std()
df['Z-Normalization']=(df['Physics']-mean)/std
df

,ID,Physics,Chemistry,Maths,Computer,Class,Physics_normalized,Z-Normalization
0,1,56.0,57.0,58.0,59.0,c,0.444444,-0.859263
1,2,55.2,24.0,25.0,26.0,B,0.431373,-0.905898
2,3,89.0,25.0,26.0,27.0,B,0.983660,1.064460
3,4,81.0,26.0,27.0,28.0,A,0.852941,0.598103
4,5,55.2,27.0,28.0,29.0,c,0.431373,-0.905898
5,6,90.0,27.0,29.0,30.0,c,1.000000,1.122754
6,7,28.8,13.0,14.0,15.0,c,0.000000,-2.444876
7,8,78.0,14.0,15.0,16.0,A,0.803922,0.423219
8,9,78.0,15.0,16.0,17.0,A,0.803922,0.423219
9,10,81.0,16.0,17.0,18.0,c,0.852941,0.598103
10,11,81.0,17.0,18.0,19.0,A,0.852941,0.598103
11,12,88.0,17.0,19.0,20.0,B,0.967320,1.006165
12,13,52.8,23.0,24.0,25.0,B,0.392157,-1.045805
13,14,90.0,23.0,24.0,42.0,B,1.000000,1.122754
14,15,90.0,43.0,43.0,43.0,A,1.000000,1.122754
15,16,79.2,44.0,44.0,44.0,c,0.823529,0.493172
16,17,81.0,45.0,45.0,45.0,B,0.852941,0.598103
17,18,82.8,46.0,46.0,46.0,A,0.882353,0.703033
18,19,84.6,47.0,47.0,47.0,c,0.911765,0.807963
19,20,86.4,48.0,48.0,48.0,B,0.941176,0.912894
20,21,88.2,49.0,49.0,49.0,c,0.970588,1.017824
21,22,90.0,50.0,50.0,50.0,B,1.000000,1.122754
22,23,51.0,51.0,51.0,51.0,c,0.362745,-1.150736
23,24,52.0,52.0,52.0,52.0,B,0.379085,-1.092441
24,25,53.0,52.0,52.0,53.0,A,0.395425,-1.034147
25,26,54.0,33.0,33.0,54.0,c,0.411765,-0.975852
26,27,55.0,34.0,34.0,55.0,c,0.428105,-0.917557
27,28,56.0,35.0,35.0,55.0,B,0.444444,-0.859263
28,29,57.0,36.0,36.0,66.0,c,0.460784,-0.800968
29,30,58.0,37.0,37.0,43.0,c,0.477124,-0.742673

In [30]:
duplicates=df.duplicated(keep=False)
duplicate_rows = df[duplicates]
duplicate_rows

Empty DataFrame
Columns: [ID, Physics, Chemistry, Maths, Computer, Class, Physics_normalized, Z-Normalization]
Index: []

In [31]:
df.loc[df['ID'] == 1, ['Physics', 'Maths']] = [56, 56]
df

,ID,Physics,Chemistry,Maths,Computer,Class,Physics_normalized,Z-Normalization
0,1,56.0,57.0,56.0,59.0,c,0.444444,-0.859263
1,2,55.2,24.0,25.0,26.0,B,0.431373,-0.905898
2,3,89.0,25.0,26.0,27.0,B,0.983660,1.064460
3,4,81.0,26.0,27.0,28.0,A,0.852941,0.598103
4,5,55.2,27.0,28.0,29.0,c,0.431373,-0.905898
5,6,90.0,27.0,29.0,30.0,c,1.000000,1.122754
6,7,28.8,13.0,14.0,15.0,c,0.000000,-2.444876
7,8,78.0,14.0,15.0,16.0,A,0.803922,0.423219
8,9,78.0,15.0,16.0,17.0,A,0.803922,0.423219
9,10,81.0,16.0,17.0,18.0,c,0.852941,0.598103
10,11,81.0,17.0,18.0,19.0,A,0.852941,0.598103
11,12,88.0,17.0,19.0,20.0,B,0.967320,1.006165
12,13,52.8,23.0,24.0,25.0,B,0.392157,-1.045805
13,14,90.0,23.0,24.0,42.0,B,1.000000,1.122754
14,15,90.0,43.0,43.0,43.0,A,1.000000,1.122754
15,16,79.2,44.0,44.0,44.0,c,0.823529,0.493172
16,17,81.0,45.0,45.0,45.0,B,0.852941,0.598103
17,18,82.8,46.0,46.0,46.0,A,0.882353,0.703033
18,19,84.6,47.0,47.0,47.0,c,0.911765,0.807963
19,20,86.4,48.0,48.0,48.0,B,0.941176,0.912894
20,21,88.2,49.0,49.0,49.0,c,0.970588,1.017824
21,22,90.0,50.0,50.0,50.0,B,1.000000,1.122754
22,23,51.0,51.0,51.0,51.0,c,0.362745,-1.150736
23,24,52.0,52.0,52.0,52.0,B,0.379085,-1.092441
24,25,53.0,52.0,52.0,53.0,A,0.395425,-1.034147
25,26,54.0,33.0,33.0,54.0,c,0.411765,-0.975852
26,27,55.0,34.0,34.0,55.0,c,0.428105,-0.917557
27,28,56.0,35.0,35.0,55.0,B,0.444444,-0.859263
28,29,57.0,36.0,36.0,66.0,c,0.460784,-0.800968
29,30,58.0,37.0,37.0,43.0,c,0.477124,-0.742673

In [32]:
def has_duplicates(row):
    return row.duplicated().any()

# Apply the function to each row and keep rows where there are duplicates
df_filtered = df[df.apply(has_duplicates, axis=1)]

print("\nDataFrame with rows removed where no value is the same:")
print(df_filtered)

DataFrame with rows removed where no value is the same:
    ID  Physics  Chemistry  Maths  Computer Class  Physics_normalized  \
0    1     56.0       57.0   56.0      59.0     c            0.444444
14  15     90.0       43.0   43.0      43.0     A            1.000000
15  16     79.2       44.0   44.0      44.0     c            0.823529
16  17     81.0       45.0   45.0      45.0     B            0.852941
17  18     82.8       46.0   46.0      46.0     A            0.882353
18  19     84.6       47.0   47.0      47.0     c            0.911765
19  20     86.4       48.0   48.0      48.0     B            0.941176
20  21     88.2       49.0   49.0      49.0     c            0.970588
21  22     90.0       50.0   50.0      50.0     B            1.000000
22  23     51.0       51.0   51.0      51.0     c            0.362745
23  24     52.0       52.0   52.0      52.0     B            0.379085
24  25     53.0       52.0   52.0      53.0     A            0.395425
25  26     54.0       33.0   33.0      54.0     c            0.411765
26  27     55.0       34.0   34.0      55.0     c            0.428105
27  28     56.0       35.0   35.0      55.0     B            0.444444
28  29     57.0       36.0   36.0      66.0     c            0.460784
29  30     58.0       37.0   37.0      43.0     c            0.477124

    Z-Normalization
0         -0.859263
14         1.122754
15         0.493172
16         0.598103
17         0.703033
18         0.807963
19         0.912894
20         1.017824
21         1.122754
22        -1.150736
23        -1.092441
24        -1.034147
25        -0.975852
26        -0.917557
27        -0.859263
28        -0.800968
29        -0.742673

In [33]:
df.rename(columns={'Score': 'Total'}, inplace=True)
df.columns
df

,ID,Physics,Chemistry,Maths,Computer,Class,Physics_normalized,Z-Normalization
0,1,56.0,57.0,56.0,59.0,c,0.444444,-0.859263
1,2,55.2,24.0,25.0,26.0,B,0.431373,-0.905898
2,3,89.0,25.0,26.0,27.0,B,0.983660,1.064460
3,4,81.0,26.0,27.0,28.0,A,0.852941,0.598103
4,5,55.2,27.0,28.0,29.0,c,0.431373,-0.905898
5,6,90.0,27.0,29.0,30.0,c,1.000000,1.122754
6,7,28.8,13.0,14.0,15.0,c,0.000000,-2.444876
7,8,78.0,14.0,15.0,16.0,A,0.803922,0.423219
8,9,78.0,15.0,16.0,17.0,A,0.803922,0.423219
9,10,81.0,16.0,17.0,18.0,c,0.852941,0.598103
10,11,81.0,17.0,18.0,19.0,A,0.852941,0.598103
11,12,88.0,17.0,19.0,20.0,B,0.967320,1.006165
12,13,52.8,23.0,24.0,25.0,B,0.392157,-1.045805
13,14,90.0,23.0,24.0,42.0,B,1.000000,1.122754
14,15,90.0,43.0,43.0,43.0,A,1.000000,1.122754
15,16,79.2,44.0,44.0,44.0,c,0.823529,0.493172
16,17,81.0,45.0,45.0,45.0,B,0.852941,0.598103
17,18,82.8,46.0,46.0,46.0,A,0.882353,0.703033
18,19,84.6,47.0,47.0,47.0,c,0.911765,0.807963
19,20,86.4,48.0,48.0,48.0,B,0.941176,0.912894
20,21,88.2,49.0,49.0,49.0,c,0.970588,1.017824
21,22,90.0,50.0,50.0,50.0,B,1.000000,1.122754
22,23,51.0,51.0,51.0,51.0,c,0.362745,-1.150736
23,24,52.0,52.0,52.0,52.0,B,0.379085,-1.092441
24,25,53.0,52.0,52.0,53.0,A,0.395425,-1.034147
25,26,54.0,33.0,33.0,54.0,c,0.411765,-0.975852
26,27,55.0,34.0,34.0,55.0,c,0.428105,-0.917557
27,28,56.0,35.0,35.0,55.0,B,0.444444,-0.859263
28,29,57.0,36.0,36.0,66.0,c,0.460784,-0.800968
29,30,58.0,37.0,37.0,43.0,c,0.477124,-0.742673

In [34]:
df.drop_duplicates(subset=['Physics', 'Maths'])
df

,ID,Physics,Chemistry,Maths,Computer,Class,Physics_normalized,Z-Normalization
0,1,56.0,57.0,56.0,59.0,c,0.444444,-0.859263
1,2,55.2,24.0,25.0,26.0,B,0.431373,-0.905898
2,3,89.0,25.0,26.0,27.0,B,0.983660,1.064460
3,4,81.0,26.0,27.0,28.0,A,0.852941,0.598103
4,5,55.2,27.0,28.0,29.0,c,0.431373,-0.905898
5,6,90.0,27.0,29.0,30.0,c,1.000000,1.122754
6,7,28.8,13.0,14.0,15.0,c,0.000000,-2.444876
7,8,78.0,14.0,15.0,16.0,A,0.803922,0.423219
8,9,78.0,15.0,16.0,17.0,A,0.803922,0.423219
9,10,81.0,16.0,17.0,18.0,c,0.852941,0.598103
10,11,81.0,17.0,18.0,19.0,A,0.852941,0.598103
11,12,88.0,17.0,19.0,20.0,B,0.967320,1.006165
12,13,52.8,23.0,24.0,25.0,B,0.392157,-1.045805
13,14,90.0,23.0,24.0,42.0,B,1.000000,1.122754
14,15,90.0,43.0,43.0,43.0,A,1.000000,1.122754
15,16,79.2,44.0,44.0,44.0,c,0.823529,0.493172
16,17,81.0,45.0,45.0,45.0,B,0.852941,0.598103
17,18,82.8,46.0,46.0,46.0,A,0.882353,0.703033
18,19,84.6,47.0,47.0,47.0,c,0.911765,0.807963
19,20,86.4,48.0,48.0,48.0,B,0.941176,0.912894
20,21,88.2,49.0,49.0,49.0,c,0.970588,1.017824
21,22,90.0,50.0,50.0,50.0,B,1.000000,1.122754
22,23,51.0,51.0,51.0,51.0,c,0.362745,-1.150736
23,24,52.0,52.0,52.0,52.0,B,0.379085,-1.092441
24,25,53.0,52.0,52.0,53.0,A,0.395425,-1.034147
25,26,54.0,33.0,33.0,54.0,c,0.411765,-0.975852
26,27,55.0,34.0,34.0,55.0,c,0.428105,-0.917557
27,28,56.0,35.0,35.0,55.0,B,0.444444,-0.859263
28,29,57.0,36.0,36.0,66.0,c,0.460784,-0.800968
29,30,58.0,37.0,37.0,43.0,c,0.477124,-0.742673

In [35]:
df['Class']=df['Class'].str.lower()
df

,ID,Physics,Chemistry,Maths,Computer,Class,Physics_normalized,Z-Normalization
0,1,56.0,57.0,56.0,59.0,c,0.444444,-0.859263
1,2,55.2,24.0,25.0,26.0,b,0.431373,-0.905898
2,3,89.0,25.0,26.0,27.0,b,0.983660,1.064460
3,4,81.0,26.0,27.0,28.0,a,0.852941,0.598103
4,5,55.2,27.0,28.0,29.0,c,0.431373,-0.905898
5,6,90.0,27.0,29.0,30.0,c,1.000000,1.122754
6,7,28.8,13.0,14.0,15.0,c,0.000000,-2.444876
7,8,78.0,14.0,15.0,16.0,a,0.803922,0.423219
8,9,78.0,15.0,16.0,17.0,a,0.803922,0.423219
9,10,81.0,16.0,17.0,18.0,c,0.852941,0.598103
10,11,81.0,17.0,18.0,19.0,a,0.852941,0.598103
11,12,88.0,17.0,19.0,20.0,b,0.967320,1.006165
12,13,52.8,23.0,24.0,25.0,b,0.392157,-1.045805
13,14,90.0,23.0,24.0,42.0,b,1.000000,1.122754
14,15,90.0,43.0,43.0,43.0,a,1.000000,1.122754
15,16,79.2,44.0,44.0,44.0,c,0.823529,0.493172
16,17,81.0,45.0,45.0,45.0,b,0.852941,0.598103
17,18,82.8,46.0,46.0,46.0,a,0.882353,0.703033
18,19,84.6,47.0,47.0,47.0,c,0.911765,0.807963
19,20,86.4,48.0,48.0,48.0,b,0.941176,0.912894
20,21,88.2,49.0,49.0,49.0,c,0.970588,1.017824
21,22,90.0,50.0,50.0,50.0,b,1.000000,1.122754
22,23,51.0,51.0,51.0,51.0,c,0.362745,-1.150736
23,24,52.0,52.0,52.0,52.0,b,0.379085,-1.092441
24,25,53.0,52.0,52.0,53.0,a,0.395425,-1.034147
25,26,54.0,33.0,33.0,54.0,c,0.411765,-0.975852
26,27,55.0,34.0,34.0,55.0,c,0.428105,-0.917557
27,28,56.0,35.0,35.0,55.0,b,0.444444,-0.859263
28,29,57.0,36.0,36.0,66.0,c,0.460784,-0.800968
29,30,58.0,37.0,37.0,43.0,c,0.477124,-0.742673

In [36]:
df['Class'] = df['Class'].str.strip()

In [37]:
df['Class']=df['Class'].replace('c','C')
df['Class']=df['Class'].replace('a','A')
df['Class']=df['Class'].replace('b','B')
df

,ID,Physics,Chemistry,Maths,Computer,Class,Physics_normalized,Z-Normalization
0,1,56.0,57.0,56.0,59.0,C,0.444444,-0.859263
1,2,55.2,24.0,25.0,26.0,B,0.431373,-0.905898
2,3,89.0,25.0,26.0,27.0,B,0.983660,1.064460
3,4,81.0,26.0,27.0,28.0,A,0.852941,0.598103
4,5,55.2,27.0,28.0,29.0,C,0.431373,-0.905898
5,6,90.0,27.0,29.0,30.0,C,1.000000,1.122754
6,7,28.8,13.0,14.0,15.0,C,0.000000,-2.444876
7,8,78.0,14.0,15.0,16.0,A,0.803922,0.423219
8,9,78.0,15.0,16.0,17.0,A,0.803922,0.423219
9,10,81.0,16.0,17.0,18.0,C,0.852941,0.598103
10,11,81.0,17.0,18.0,19.0,A,0.852941,0.598103
11,12,88.0,17.0,19.0,20.0,B,0.967320,1.006165
12,13,52.8,23.0,24.0,25.0,B,0.392157,-1.045805
13,14,90.0,23.0,24.0,42.0,B,1.000000,1.122754
14,15,90.0,43.0,43.0,43.0,A,1.000000,1.122754
15,16,79.2,44.0,44.0,44.0,C,0.823529,0.493172
16,17,81.0,45.0,45.0,45.0,B,0.852941,0.598103
17,18,82.8,46.0,46.0,46.0,A,0.882353,0.703033
18,19,84.6,47.0,47.0,47.0,C,0.911765,0.807963
19,20,86.4,48.0,48.0,48.0,B,0.941176,0.912894
20,21,88.2,49.0,49.0,49.0,C,0.970588,1.017824
21,22,90.0,50.0,50.0,50.0,B,1.000000,1.122754
22,23,51.0,51.0,51.0,51.0,C,0.362745,-1.150736
23,24,52.0,52.0,52.0,52.0,B,0.379085,-1.092441
24,25,53.0,52.0,52.0,53.0,A,0.395425,-1.034147
25,26,54.0,33.0,33.0,54.0,C,0.411765,-0.975852
26,27,55.0,34.0,34.0,55.0,C,0.428105,-0.917557
27,28,56.0,35.0,35.0,55.0,B,0.444444,-0.859263
28,29,57.0,36.0,36.0,66.0,C,0.460784,-0.800968
29,30,58.0,37.0,37.0,43.0,C,0.477124,-0.742673

In [38]:
df

,ID,Physics,Chemistry,Maths,Computer,Class,Physics_normalized,Z-Normalization
0,1,56.0,57.0,56.0,59.0,C,0.444444,-0.859263
1,2,55.2,24.0,25.0,26.0,B,0.431373,-0.905898
2,3,89.0,25.0,26.0,27.0,B,0.983660,1.064460
3,4,81.0,26.0,27.0,28.0,A,0.852941,0.598103
4,5,55.2,27.0,28.0,29.0,C,0.431373,-0.905898
5,6,90.0,27.0,29.0,30.0,C,1.000000,1.122754
6,7,28.8,13.0,14.0,15.0,C,0.000000,-2.444876
7,8,78.0,14.0,15.0,16.0,A,0.803922,0.423219
8,9,78.0,15.0,16.0,17.0,A,0.803922,0.423219
9,10,81.0,16.0,17.0,18.0,C,0.852941,0.598103
10,11,81.0,17.0,18.0,19.0,A,0.852941,0.598103
11,12,88.0,17.0,19.0,20.0,B,0.967320,1.006165
12,13,52.8,23.0,24.0,25.0,B,0.392157,-1.045805
13,14,90.0,23.0,24.0,42.0,B,1.000000,1.122754
14,15,90.0,43.0,43.0,43.0,A,1.000000,1.122754
15,16,79.2,44.0,44.0,44.0,C,0.823529,0.493172
16,17,81.0,45.0,45.0,45.0,B,0.852941,0.598103
17,18,82.8,46.0,46.0,46.0,A,0.882353,0.703033
18,19,84.6,47.0,47.0,47.0,C,0.911765,0.807963
19,20,86.4,48.0,48.0,48.0,B,0.941176,0.912894
20,21,88.2,49.0,49.0,49.0,C,0.970588,1.017824
21,22,90.0,50.0,50.0,50.0,B,1.000000,1.122754
22,23,51.0,51.0,51.0,51.0,C,0.362745,-1.150736
23,24,52.0,52.0,52.0,52.0,B,0.379085,-1.092441
24,25,53.0,52.0,52.0,53.0,A,0.395425,-1.034147
25,26,54.0,33.0,33.0,54.0,C,0.411765,-0.975852
26,27,55.0,34.0,34.0,55.0,C,0.428105,-0.917557
27,28,56.0,35.0,35.0,55.0,B,0.444444,-0.859263
28,29,57.0,36.0,36.0,66.0,C,0.460784,-0.800968
29,30,58.0,37.0,37.0,43.0,C,0.477124,-0.742673

In [39]:
def generateDate(StartDate,EndDate,NumDate):
    for i in range(NumDate):
        return StartDate+(EndDate-StartDate)*np.random.random()
StartDate=datetime.datetime(2024, 7, 1)  
EndDate=datetime.datetime(2024, 7, 31)
random_dates = generateDate(StartDate, EndDate, len(df))
df['Date'] = random_dates
df['Date'] = df['Date'].dt.date
print(df)

    ID  Physics  Chemistry  Maths  Computer Class  Physics_normalized  \
0    1     56.0       57.0   56.0      59.0     C            0.444444
1    2     55.2       24.0   25.0      26.0     B            0.431373
2    3     89.0       25.0   26.0      27.0     B            0.983660
3    4     81.0       26.0   27.0      28.0     A            0.852941
4    5     55.2       27.0   28.0      29.0     C            0.431373
5    6     90.0       27.0   29.0      30.0     C            1.000000
6    7     28.8       13.0   14.0      15.0     C            0.000000
7    8     78.0       14.0   15.0      16.0     A            0.803922
8    9     78.0       15.0   16.0      17.0     A            0.803922
9   10     81.0       16.0   17.0      18.0     C            0.852941
10  11     81.0       17.0   18.0      19.0     A            0.852941
11  12     88.0       17.0   19.0      20.0     B            0.967320
12  13     52.8       23.0   24.0      25.0     B            0.392157
13  14     90.0       23.0   24.0      42.0     B            1.000000
14  15     90.0       43.0   43.0      43.0     A            1.000000
15  16     79.2       44.0   44.0      44.0     C            0.823529
16  17     81.0       45.0   45.0      45.0     B            0.852941
17  18     82.8       46.0   46.0      46.0     A            0.882353
18  19     84.6       47.0   47.0      47.0     C            0.911765
19  20     86.4       48.0   48.0      48.0     B            0.941176
20  21     88.2       49.0   49.0      49.0     C            0.970588
21  22     90.0       50.0   50.0      50.0     B            1.000000
22  23     51.0       51.0   51.0      51.0     C            0.362745
23  24     52.0       52.0   52.0      52.0     B            0.379085
24  25     53.0       52.0   52.0      53.0     A            0.395425
25  26     54.0       33.0   33.0      54.0     C            0.411765
26  27     55.0       34.0   34.0      55.0     C            0.428105
27  28     56.0       35.0   35.0      55.0     B            0.444444
28  29     57.0       36.0   36.0      66.0     C            0.460784
29  30     58.0       37.0   37.0      43.0     C            0.477124

    Z-Normalization        Date
0         -0.859263  2024-07-09
1         -0.905898  2024-07-09
2          1.064460  2024-07-09
3          0.598103  2024-07-09
4         -0.905898  2024-07-09
5          1.122754  2024-07-09
6         -2.444876  2024-07-09
7          0.423219  2024-07-09
8          0.423219  2024-07-09
9          0.598103  2024-07-09
10         0.598103  2024-07-09
11         1.006165  2024-07-09
12        -1.045805  2024-07-09
13         1.122754  2024-07-09
14         1.122754  2024-07-09
15         0.493172  2024-07-09
16         0.598103  2024-07-09
17         0.703033  2024-07-09
18         0.807963  2024-07-09
19         0.912894  2024-07-09
20         1.017824  2024-07-09
21         1.122754  2024-07-09
22        -1.150736  2024-07-09
23        -1.092441  2024-07-09
24        -1.034147  2024-07-09
25        -0.975852  2024-07-09
26        -0.917557  2024-07-09
27        -0.859263  2024-07-09
28        -0.800968  2024-07-09
29        -0.742673  2024-07-09

In [40]:
df['Date'] = pd.to_datetime(df['Date'])
df['Date'].dt.day

0     9
1     9
2     9
3     9
4     9
5     9
6     9
7     9
8     9
9     9
10    9
11    9
12    9
13    9
14    9
15    9
16    9
17    9
18    9
19    9
20    9
21    9
22    9
23    9
24    9
25    9
26    9
27    9
28    9
29    9
Name: Date, dtype: int32

In [41]:
start_date = '2024-07-05'
end_date = '2024-07-10'
df[(df['Date'] >=start_date) & (df['Date'] <= end_date)]

,ID,Physics,Chemistry,Maths,Computer,Class,Physics_normalized,Z-Normalization,Date
0,1,56.0,57.0,56.0,59.0,C,0.444444,-0.859263,2024-07-09
1,2,55.2,24.0,25.0,26.0,B,0.431373,-0.905898,2024-07-09
2,3,89.0,25.0,26.0,27.0,B,0.983660,1.064460,2024-07-09
3,4,81.0,26.0,27.0,28.0,A,0.852941,0.598103,2024-07-09
4,5,55.2,27.0,28.0,29.0,C,0.431373,-0.905898,2024-07-09
5,6,90.0,27.0,29.0,30.0,C,1.000000,1.122754,2024-07-09
6,7,28.8,13.0,14.0,15.0,C,0.000000,-2.444876,2024-07-09
7,8,78.0,14.0,15.0,16.0,A,0.803922,0.423219,2024-07-09
8,9,78.0,15.0,16.0,17.0,A,0.803922,0.423219,2024-07-09
9,10,81.0,16.0,17.0,18.0,C,0.852941,0.598103,2024-07-09
10,11,81.0,17.0,18.0,19.0,A,0.852941,0.598103,2024-07-09
11,12,88.0,17.0,19.0,20.0,B,0.967320,1.006165,2024-07-09
12,13,52.8,23.0,24.0,25.0,B,0.392157,-1.045805,2024-07-09
13,14,90.0,23.0,24.0,42.0,B,1.000000,1.122754,2024-07-09
14,15,90.0,43.0,43.0,43.0,A,1.000000,1.122754,2024-07-09
15,16,79.2,44.0,44.0,44.0,C,0.823529,0.493172,2024-07-09
16,17,81.0,45.0,45.0,45.0,B,0.852941,0.598103,2024-07-09
17,18,82.8,46.0,46.0,46.0,A,0.882353,0.703033,2024-07-09
18,19,84.6,47.0,47.0,47.0,C,0.911765,0.807963,2024-07-09
19,20,86.4,48.0,48.0,48.0,B,0.941176,0.912894,2024-07-09
20,21,88.2,49.0,49.0,49.0,C,0.970588,1.017824,2024-07-09
21,22,90.0,50.0,50.0,50.0,B,1.000000,1.122754,2024-07-09
22,23,51.0,51.0,51.0,51.0,C,0.362745,-1.150736,2024-07-09
23,24,52.0,52.0,52.0,52.0,B,0.379085,-1.092441,2024-07-09
24,25,53.0,52.0,52.0,53.0,A,0.395425,-1.034147,2024-07-09
25,26,54.0,33.0,33.0,54.0,C,0.411765,-0.975852,2024-07-09
26,27,55.0,34.0,34.0,55.0,C,0.428105,-0.917557,2024-07-09
27,28,56.0,35.0,35.0,55.0,B,0.444444,-0.859263,2024-07-09
28,29,57.0,36.0,36.0,66.0,C,0.460784,-0.800968,2024-07-09
29,30,58.0,37.0,37.0,43.0,C,0.477124,-0.742673,2024-07-09

In [42]:
 pd.get_dummies(df, columns=['Class'])

,ID,Physics,Chemistry,Maths,Computer,Physics_normalized,Z-Normalization,Date,Class_A,Class_B,Class_C
0,1,56.0,57.0,56.0,59.0,0.444444,-0.859263,2024-07-09,False,False,True
1,2,55.2,24.0,25.0,26.0,0.431373,-0.905898,2024-07-09,False,True,False
2,3,89.0,25.0,26.0,27.0,0.983660,1.064460,2024-07-09,False,True,False
3,4,81.0,26.0,27.0,28.0,0.852941,0.598103,2024-07-09,True,False,False
4,5,55.2,27.0,28.0,29.0,0.431373,-0.905898,2024-07-09,False,False,True
5,6,90.0,27.0,29.0,30.0,1.000000,1.122754,2024-07-09,False,False,True
6,7,28.8,13.0,14.0,15.0,0.000000,-2.444876,2024-07-09,False,False,True
7,8,78.0,14.0,15.0,16.0,0.803922,0.423219,2024-07-09,True,False,False
8,9,78.0,15.0,16.0,17.0,0.803922,0.423219,2024-07-09,True,False,False
9,10,81.0,16.0,17.0,18.0,0.852941,0.598103,2024-07-09,False,False,True
10,11,81.0,17.0,18.0,19.0,0.852941,0.598103,2024-07-09,True,False,False
11,12,88.0,17.0,19.0,20.0,0.967320,1.006165,2024-07-09,False,True,False
12,13,52.8,23.0,24.0,25.0,0.392157,-1.045805,2024-07-09,False,True,False
13,14,90.0,23.0,24.0,42.0,1.000000,1.122754,2024-07-09,False,True,False
14,15,90.0,43.0,43.0,43.0,1.000000,1.122754,2024-07-09,True,False,False
15,16,79.2,44.0,44.0,44.0,0.823529,0.493172,2024-07-09,False,False,True
16,17,81.0,45.0,45.0,45.0,0.852941,0.598103,2024-07-09,False,True,False
17,18,82.8,46.0,46.0,46.0,0.882353,0.703033,2024-07-09,True,False,False
18,19,84.6,47.0,47.0,47.0,0.911765,0.807963,2024-07-09,False,False,True
19,20,86.4,48.0,48.0,48.0,0.941176,0.912894,2024-07-09,False,True,False
20,21,88.2,49.0,49.0,49.0,0.970588,1.017824,2024-07-09,False,False,True
21,22,90.0,50.0,50.0,50.0,1.000000,1.122754,2024-07-09,False,True,False
22,23,51.0,51.0,51.0,51.0,0.362745,-1.150736,2024-07-09,False,False,True
23,24,52.0,52.0,52.0,52.0,0.379085,-1.092441,2024-07-09,False,True,False
24,25,53.0,52.0,52.0,53.0,0.395425,-1.034147,2024-07-09,True,False,False
25,26,54.0,33.0,33.0,54.0,0.411765,-0.975852,2024-07-09,False,False,True
26,27,55.0,34.0,34.0,55.0,0.428105,-0.917557,2024-07-09,False,False,True
27,28,56.0,35.0,35.0,55.0,0.444444,-0.859263,2024-07-09,False,True,False
28,29,57.0,36.0,36.0,66.0,0.460784,-0.800968,2024-07-09,False,False,True
29,30,58.0,37.0,37.0,43.0,0.477124,-0.742673,2024-07-09,False,False,True

In [50]:
ids=np.arange(1,31)
Marks=np.random.randint(50,90,30)
data={
   'ID':ids,
    'Science':Marks
}

df2=pd.DataFrame(data)
df2

    ID  Science
0    1       72
1    2       68
2    3       60
3    4       54
4    5       87
5    6       58
6    7       82
7    8       58
8    9       63
9   10       53
10  11       58
11  12       72
12  13       61
13  14       59
14  15       78
15  16       60
16  17       71
17  18       81
18  19       80
19  20       64
20  21       88
21  22       58
22  23       76
23  24       50
24  25       77
25  26       71
26  27       86
27  28       64
28  29       57
29  30       82

In [59]:
merged_df = pd.merge(df, df2, left_on='ID', right_on='ID', how='inner')
print(merged_df)

    ID  Physics  Chemistry  Maths  Computer Class  Physics_normalized  \
0    1     56.0       57.0   56.0      59.0     C            0.444444
1    2     55.2       24.0   25.0      26.0     B            0.431373
2    3     89.0       25.0   26.0      27.0     B            0.983660
3    4     81.0       26.0   27.0      28.0     A            0.852941
4    5     55.2       27.0   28.0      29.0     C            0.431373
5    6     90.0       27.0   29.0      30.0     C            1.000000
6    7     28.8       13.0   14.0      15.0     C            0.000000
7    8     78.0       14.0   15.0      16.0     A            0.803922
8    9     78.0       15.0   16.0      17.0     A            0.803922
9   10     81.0       16.0   17.0      18.0     C            0.852941
10  11     81.0       17.0   18.0      19.0     A            0.852941
11  12     88.0       17.0   19.0      20.0     B            0.967320
12  13     52.8       23.0   24.0      25.0     B            0.392157
13  14     90.0       23.0   24.0      42.0     B            1.000000
14  15     90.0       43.0   43.0      43.0     A            1.000000
15  16     79.2       44.0   44.0      44.0     C            0.823529
16  17     81.0       45.0   45.0      45.0     B            0.852941
17  18     82.8       46.0   46.0      46.0     A            0.882353
18  19     84.6       47.0   47.0      47.0     C            0.911765
19  20     86.4       48.0   48.0      48.0     B            0.941176
20  21     88.2       49.0   49.0      49.0     C            0.970588
21  22     90.0       50.0   50.0      50.0     B            1.000000
22  23     51.0       51.0   51.0      51.0     C            0.362745
23  24     52.0       52.0   52.0      52.0     B            0.379085
24  25     53.0       52.0   52.0      53.0     A            0.395425
25  26     54.0       33.0   33.0      54.0     C            0.411765
26  27     55.0       34.0   34.0      55.0     C            0.428105
27  28     56.0       35.0   35.0      55.0     B            0.444444
28  29     57.0       36.0   36.0      66.0     C            0.460784
29  30     58.0       37.0   37.0      43.0     C            0.477124

    Z-Normalization       Date  Science
0         -0.859263 2024-07-09       72
1         -0.905898 2024-07-09       68
2          1.064460 2024-07-09       60
3          0.598103 2024-07-09       54
4         -0.905898 2024-07-09       87
5          1.122754 2024-07-09       58
6         -2.444876 2024-07-09       82
7          0.423219 2024-07-09       58
8          0.423219 2024-07-09       63
9          0.598103 2024-07-09       53
10         0.598103 2024-07-09       58
11         1.006165 2024-07-09       72
12        -1.045805 2024-07-09       61
13         1.122754 2024-07-09       59
14         1.122754 2024-07-09       78
15         0.493172 2024-07-09       60
16         0.598103 2024-07-09       71
17         0.703033 2024-07-09       81
18         0.807963 2024-07-09       80
19         0.912894 2024-07-09       64
20         1.017824 2024-07-09       88
21         1.122754 2024-07-09       58
22        -1.150736 2024-07-09       76
23        -1.092441 2024-07-09       50
24        -1.034147 2024-07-09       77
25        -0.975852 2024-07-09       71
26        -0.917557 2024-07-09       86
27        -0.859263 2024-07-09       64
28        -0.800968 2024-07-09       57
29        -0.742673 2024-07-09       82

In [60]:
print(merged_df.columns)
new_order = ['ID','Physics','Maths', 'Science','Computer','Chemistry','Class','Physics_normalized','Z-Normalization','Date']
merged_df=merged_df[new_order]
merged_df

Index(['ID', 'Physics', 'Chemistry', 'Maths', 'Computer', 'Class',
       'Physics_normalized', 'Z-Normalization', 'Date', 'Science'],
      dtype='object')

,ID,Physics,Maths,Science,Computer,Chemistry,Class,Physics_normalized,Z-Normalization,Date
0,1,56.0,56.0,72,59.0,57.0,C,0.444444,-0.859263,2024-07-09
1,2,55.2,25.0,68,26.0,24.0,B,0.431373,-0.905898,2024-07-09
2,3,89.0,26.0,60,27.0,25.0,B,0.983660,1.064460,2024-07-09
3,4,81.0,27.0,54,28.0,26.0,A,0.852941,0.598103,2024-07-09
4,5,55.2,28.0,87,29.0,27.0,C,0.431373,-0.905898,2024-07-09
5,6,90.0,29.0,58,30.0,27.0,C,1.000000,1.122754,2024-07-09
6,7,28.8,14.0,82,15.0,13.0,C,0.000000,-2.444876,2024-07-09
7,8,78.0,15.0,58,16.0,14.0,A,0.803922,0.423219,2024-07-09
8,9,78.0,16.0,63,17.0,15.0,A,0.803922,0.423219,2024-07-09
9,10,81.0,17.0,53,18.0,16.0,C,0.852941,0.598103,2024-07-09
10,11,81.0,18.0,58,19.0,17.0,A,0.852941,0.598103,2024-07-09
11,12,88.0,19.0,72,20.0,17.0,B,0.967320,1.006165,2024-07-09
12,13,52.8,24.0,61,25.0,23.0,B,0.392157,-1.045805,2024-07-09
13,14,90.0,24.0,59,42.0,23.0,B,1.000000,1.122754,2024-07-09
14,15,90.0,43.0,78,43.0,43.0,A,1.000000,1.122754,2024-07-09
15,16,79.2,44.0,60,44.0,44.0,C,0.823529,0.493172,2024-07-09
16,17,81.0,45.0,71,45.0,45.0,B,0.852941,0.598103,2024-07-09
17,18,82.8,46.0,81,46.0,46.0,A,0.882353,0.703033,2024-07-09
18,19,84.6,47.0,80,47.0,47.0,C,0.911765,0.807963,2024-07-09
19,20,86.4,48.0,64,48.0,48.0,B,0.941176,0.912894,2024-07-09
20,21,88.2,49.0,88,49.0,49.0,C,0.970588,1.017824,2024-07-09
21,22,90.0,50.0,58,50.0,50.0,B,1.000000,1.122754,2024-07-09
22,23,51.0,51.0,76,51.0,51.0,C,0.362745,-1.150736,2024-07-09
23,24,52.0,52.0,50,52.0,52.0,B,0.379085,-1.092441,2024-07-09
24,25,53.0,52.0,77,53.0,52.0,A,0.395425,-1.034147,2024-07-09
25,26,54.0,33.0,71,54.0,33.0,C,0.411765,-0.975852,2024-07-09
26,27,55.0,34.0,86,55.0,34.0,C,0.428105,-0.917557,2024-07-09
27,28,56.0,35.0,64,55.0,35.0,B,0.444444,-0.859263,2024-07-09
28,29,57.0,36.0,57,66.0,36.0,C,0.460784,-0.800968,2024-07-09
29,30,58.0,37.0,82,43.0,37.0,C,0.477124,-0.742673,2024-07-09

In [ ]:
##df_combined = pd.concat([df1, df2], axis=0, ignore_index=True)
#df_combined = pd.concat([df1, df2], axis=1, ignore_index=True)

In [69]:
merged_df=merged_df.rename(columns={'Z-Normalization':'Grade'})
merged_df=merged_df.rename(columns={'Physics_normalized':'Total'})
merged_df['Total'] = merged_df[['Physics', 'Maths', 'Chemistry','Science','Computer']].sum(axis=1)
merged_df

,ID,Physics,Maths,Science,Computer,Chemistry,Class,Total,Grade,Date
0,1,56.0,56.0,72,59.0,57.0,C,300.0,-0.859263,2024-07-09
1,2,55.2,25.0,68,26.0,24.0,B,198.2,-0.905898,2024-07-09
2,3,89.0,26.0,60,27.0,25.0,B,227.0,1.064460,2024-07-09
3,4,81.0,27.0,54,28.0,26.0,A,216.0,0.598103,2024-07-09
4,5,55.2,28.0,87,29.0,27.0,C,226.2,-0.905898,2024-07-09
5,6,90.0,29.0,58,30.0,27.0,C,234.0,1.122754,2024-07-09
6,7,28.8,14.0,82,15.0,13.0,C,152.8,-2.444876,2024-07-09
7,8,78.0,15.0,58,16.0,14.0,A,181.0,0.423219,2024-07-09
8,9,78.0,16.0,63,17.0,15.0,A,189.0,0.423219,2024-07-09
9,10,81.0,17.0,53,18.0,16.0,C,185.0,0.598103,2024-07-09
10,11,81.0,18.0,58,19.0,17.0,A,193.0,0.598103,2024-07-09
11,12,88.0,19.0,72,20.0,17.0,B,216.0,1.006165,2024-07-09
12,13,52.8,24.0,61,25.0,23.0,B,185.8,-1.045805,2024-07-09
13,14,90.0,24.0,59,42.0,23.0,B,238.0,1.122754,2024-07-09
14,15,90.0,43.0,78,43.0,43.0,A,297.0,1.122754,2024-07-09
15,16,79.2,44.0,60,44.0,44.0,C,271.2,0.493172,2024-07-09
16,17,81.0,45.0,71,45.0,45.0,B,287.0,0.598103,2024-07-09
17,18,82.8,46.0,81,46.0,46.0,A,301.8,0.703033,2024-07-09
18,19,84.6,47.0,80,47.0,47.0,C,305.6,0.807963,2024-07-09
19,20,86.4,48.0,64,48.0,48.0,B,294.4,0.912894,2024-07-09
20,21,88.2,49.0,88,49.0,49.0,C,323.2,1.017824,2024-07-09
21,22,90.0,50.0,58,50.0,50.0,B,298.0,1.122754,2024-07-09
22,23,51.0,51.0,76,51.0,51.0,C,280.0,-1.150736,2024-07-09
23,24,52.0,52.0,50,52.0,52.0,B,258.0,-1.092441,2024-07-09
24,25,53.0,52.0,77,53.0,52.0,A,287.0,-1.034147,2024-07-09
25,26,54.0,33.0,71,54.0,33.0,C,245.0,-0.975852,2024-07-09
26,27,55.0,34.0,86,55.0,34.0,C,264.0,-0.917557,2024-07-09
27,28,56.0,35.0,64,55.0,35.0,B,245.0,-0.859263,2024-07-09
28,29,57.0,36.0,57,66.0,36.0,C,252.0,-0.800968,2024-07-09
29,30,58.0,37.0,82,43.0,37.0,C,257.0,-0.742673,2024-07-09

In [73]:
bins = [0, 250, 270, 300, float('inf')]
labels = ['C', 'B', 'A', 'A+']
merged_df['Grade'] = pd.cut(merged_df['Total'], bins=bins, labels=labels, right=False)
merged_df

,ID,Physics,Maths,Science,Computer,Chemistry,Class,Total,Grade,Date
0,1,56.0,56.0,72,59.0,57.0,C,300.0,A+,2024-07-09
1,2,55.2,25.0,68,26.0,24.0,B,198.2,C,2024-07-09
2,3,89.0,26.0,60,27.0,25.0,B,227.0,C,2024-07-09
3,4,81.0,27.0,54,28.0,26.0,A,216.0,C,2024-07-09
4,5,55.2,28.0,87,29.0,27.0,C,226.2,C,2024-07-09
5,6,90.0,29.0,58,30.0,27.0,C,234.0,C,2024-07-09
6,7,28.8,14.0,82,15.0,13.0,C,152.8,C,2024-07-09
7,8,78.0,15.0,58,16.0,14.0,A,181.0,C,2024-07-09
8,9,78.0,16.0,63,17.0,15.0,A,189.0,C,2024-07-09
9,10,81.0,17.0,53,18.0,16.0,C,185.0,C,2024-07-09
10,11,81.0,18.0,58,19.0,17.0,A,193.0,C,2024-07-09
11,12,88.0,19.0,72,20.0,17.0,B,216.0,C,2024-07-09
12,13,52.8,24.0,61,25.0,23.0,B,185.8,C,2024-07-09
13,14,90.0,24.0,59,42.0,23.0,B,238.0,C,2024-07-09
14,15,90.0,43.0,78,43.0,43.0,A,297.0,A,2024-07-09
15,16,79.2,44.0,60,44.0,44.0,C,271.2,A,2024-07-09
16,17,81.0,45.0,71,45.0,45.0,B,287.0,A,2024-07-09
17,18,82.8,46.0,81,46.0,46.0,A,301.8,A+,2024-07-09
18,19,84.6,47.0,80,47.0,47.0,C,305.6,A+,2024-07-09
19,20,86.4,48.0,64,48.0,48.0,B,294.4,A,2024-07-09
20,21,88.2,49.0,88,49.0,49.0,C,323.2,A+,2024-07-09
21,22,90.0,50.0,58,50.0,50.0,B,298.0,A,2024-07-09
22,23,51.0,51.0,76,51.0,51.0,C,280.0,A,2024-07-09
23,24,52.0,52.0,50,52.0,52.0,B,258.0,B,2024-07-09
24,25,53.0,52.0,77,53.0,52.0,A,287.0,A,2024-07-09
25,26,54.0,33.0,71,54.0,33.0,C,245.0,C,2024-07-09
26,27,55.0,34.0,86,55.0,34.0,C,264.0,B,2024-07-09
27,28,56.0,35.0,64,55.0,35.0,B,245.0,C,2024-07-09
28,29,57.0,36.0,57,66.0,36.0,C,252.0,B,2024-07-09
29,30,58.0,37.0,82,43.0,37.0,C,257.0,B,2024-07-09